@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  div.custom__dropdown > button {
    @apply border-none ease-in rounded-md focus:bg-none focus:outline-none focus:ring-0;
  }
  div.custom__dropdown-primary > button {
    @apply text-white bg-brand-500;
  }
  div.custom__dropdown-primary > button:hover {
    @apply hover:bg-brand-600;
  }
  div.custom__dropdown-default > button {
    @apply bg-gray-100 border border-brand-600 text-brand-600 rounded-lg;
  }
  div.custom__dropdown-default > button:hover {
    @apply hover:bg-gray-200;
  }

  div.custom__dropdown-plain {
    @apply border-b hover:border-black border-transparent ease-in-out duration-300;
  }

  div.custom__dropdown-plain > button {
    @apply text-gray-700 bg-transparent rounded-none;
  }
  div.custom__dropdown-plain > button:hover {
    @apply hover:bg-transparent;
  }
}
